{% extends 'partials/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container">
<div class="row mt-4">
    <div class="col-md-9">
        <dev class="card shaow mt-2">
            <div class="card-header">
                <h3>About this website:</h3>
            </div>
            <div class="card-body">
                <p>
                    Web ToDo-type aplication, where user is able to:</br>
                    - Add a new task</br>
                    - Edit name, description and status of the task</br>
                    - Mark task as completed and reverse this process</br>
                    - Archive Completed tasks to another section and restores them to the main one</br>
                    - Delete tasks completely from both section-levels</br>
                </br>
                    Created using flask micro-freamwork and SQLAlchemy to connect to SQLite database</br>
                    and also Bootstrap for stylistic purposes and flash comunicates.</br>
                </p>
            </div>
        </dev>
    </div>
</div>
</div>
{% endblock %}