{% extends 'partials/base.html' %}
</br>
{% block title %}
TODO APPP
{% endblock %}

{% block content %}
</br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="border border_left rounded shadow mt-2">
                <div class="card-header">Your tasks:</div>
            </div>
            <div class="border_left shadow">
                {% for task in all_tasks %}
                {% if task.active == True %}
                <div class="card mt-2 shadow">
                    <div class="card-body">
                        <div class="row">
                            <h4> {{task.id}}. {{task.name}} </h4>
                        </div>
                        {% if task.description %}
                        <div class="row">
                            <p> {task.description}</p>
                        </div>
                        {% endif %}
                        <div class="row">
                            {% if task.complete == True %}
                            <div class="col-md-4">
                                <a class="btn btn-outline-success btn-sm" href="/complete/{{task.id}}">Completed</a>
                            </div>
                            {% else %}
                            <div class="col-md-4">
                                <span class="btn btn-outline-warning btn-sm">Undone</span>
                            </div>
                            {% endif %}
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <a class="btn btn-secondary btn-sm" href="/delete/{{task.id}}">Delete</a>
                                {% if task.complete == False %}
                                <a class="btn btn-info btn-sm" href="/complete/{{task.id}}">Complete</a>
                                {% else %}
                                <a class="btn btn-light btn-sm" href="/archive/{{task.id}}">Archive</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </div>

        </div>
        <div class="col-md-5">
            <div class="card shadow mt-2">
                <div class="card-header">Your tasks:</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h6>All tasks:</h6>
                                    <p class="text-center">{{ sum_of_tasks }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h6>Completed:</h6>
                                    <p class="text-center"> {{ completed_tasks }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h6>Undone:</h6>
                                    <p class="text-center">{{ uncompleted_tasks }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-header">Acomplished, archived tasks:</div>
                <div class="card-body">
                    {% for task in all_tasks %}
                    {% if task.active == False %}
                    <div class="row mt-1">
                        <div class="col-md-7">
                            <h6>- {{task.name}}</h6>
                        </div>
                        <div class="col-md-5">
                            <a class="btn btn-light btn-sm" href="/delete/{{task.id}}">Delete</a>
                            <a class="btn btn-light btn-sm" href="/archive/{{task.id}}">Restore</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}